body {
  font-family: "Papyrus", "Times New Roman", "Arial", "sans-serif";
  background-color: lightgoldenrodyellow;
  color: black;
}

.content {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

.content ul,
.content ol {
  text-align: start;
}

.header {
  background-color: #FFE062;
  color: white;
  text-align: center;
}

.egg-header {
  color: #FFFAA0;
}

.recipes-header {
  margin-left: 8px;
}

.home-links-list {
  list-style: georgian;
}

.home-links-list a {
  text-decoration: none;
  font-weight: bold;
}
