body {
  font-family: "Papyrus", "Times New Roman", "Arial", "sans-serif";
  background-color: lightgoldenrodyellow;
  color: black;
}

.container {
  margin: 0 auto;
  width: 800px;
  text-align: center;
}

.container ul,
.container ol {
  text-align: start;
}

.header {
  background-color: #FFE062;
  border: 8px solid #F3E5AB;
  padding: 10px;
  color: white;
  text-align: center;
}

.egg-header {
  color: #FFFAA0;
}

.recipes-header {
  margin-left: 8px;
}

.home-links-list {
  list-style: georgian;
}

.home-links-list a {
  text-decoration: none;
  font-weight: bold;
}

.container.recipe-card {
  background-color: #F5F5DC;
  border: 8px solid #F3E5AB;
  color: #F8DE7E;
  font-weight: bold;
  font-size: larger;
}

.sub {
  border-style: dotted;
  border-width: 6px;
}

